header {
    text-align: center;
    color: rgb(3, 80, 247);
  }
  
  .container {
    display: flex;
    margin: auto;
    /* background-color: aquamarine; */
    width: 50vw;
    height: 60%;
    border: 2px solid red;
  }
  form {
    padding-left: 10%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
  input {
    width: 40vw;
    height: 18px;
  }
  label {
    font-size: 25px;
  }
  button {
    background-color: rgb(2, 212, 184);
    width: 13vw;
    height: 28px;
  }
  #btn3 {
    background-color: rgb(245, 57, 57);
  }
  #btn2 {
    background-color: rgb(67, 147, 252);
  }
  